html {
    font-size: 62.5%;
}

body {
    font-family: Arial;
    font-size: 1.6rem;
    line-height: 1.4em;
    margin: 0;
}

#navbar {
    background: @white;
    margin-bottom: 0;
}

#logo {
    height: auto;
    margin-bottom: 10px;
}

#content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
        font-size: 3.2rem;
        line-height: 1.4em;
        text-align: center;
        margin: 0 auto 3rem auto;
        font-weight: bold;
    }
}

#content {
	padding: 0 1rem;
	.standfirst {
		font-weight: bold;
        font-size: 3.2rem;
        line-height: 1.4em;
		margin-bottom: 1em;
	}

	h2 {
		text-align: left;
	}
}

#footer {
    background: @white;
    padding: 5rem 0;
    width: 100%;
}