@white: #ffffff;
@black: #000000;
@hoverColor: #bf1e2e;

/* For Dev purposes */
@colorBig: #dbffdb;
@colorMedium: #c7e4ff;
@colorSmall: #ffd0d0;
@colorTablet: #ff8484;
@colorTiny: #ecce6e;
@colorMobile: #ffab4e;
