.album-list {
	.album-images {
		.album-item {
			position: relative;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.slideshow-list ul li a {
		height: auto;
	}

	.credits {
		padding: 1rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 3;
		color: @white;
	}
}