.album-slideshow {
    margin: 0;

    ul {
        margin: -0.5rem;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        width: calc(~"100% + 1rem");

        li {
            padding: 0.5rem;
            height: 100vw;
            position: relative;

            .card {
                h3 {
                    font-weight: 900;
                    font-size: 8rem;
                    line-height: 6.4rem;
                }

                p {
                    font-weight: 500;
                    font-size: 5rem;
                    line-height: 4.2rem;
                    text-transform: uppercase;
                    margin: 2rem 0 0 0;
                }
            }

            @media all and (min-width: 600px) {
                display: inline-block;
                float: left;
                width: 50%;
                height: 50vw;
            }
        }
    }
}
