.carousel-list {
	ul {
		margin: 0;
		padding: 0;

		li {
			padding-bottom: 1rem;

			a {
				position: relative;
				height: 30rem;
				width: 100%;
				display: block;

				.description {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 0.5rem 1rem;
					box-sizing: border-box;
					.gradient(bottom, to top, rgba(0,0,0,0.4), 0);

					.slide-title {
						margin: 0;
						color: @white;
					}

					.slide-caption {
						margin: 1rem 0;
						color: @white;
					}
				}
			}
		}
	}
	
	.flex-control-paging {
		// position: absolute;
		bottom: 10rem;
		right: 2rem;
		padding: 0;
		z-index: 999;
		text-align: center;

		li {
			display: inline-block;
			a {
				border: 1px solid fade(@blue, 30%);
				width: 2.4rem;
				height: 2.4rem;
				display: block;
				overflow: hidden;
				text-indent: 999px;

				&:hover {
					border-color: @blue;
				}
			}

			a.flex-active {
				background: fade(@blue, 30%);
			}
		}
	}
}


@media all and (min-width: (@tablet_width + @scroll_bar)) {
	.carousel-list .flex-control-paging li a {
		width: 1.8rem;
		height: 1.8rem;
	}
}