.child-pages {
    margin: -0.5rem;
    overflow: hidden;
    padding: 5rem 0 0 0;

    li {
        padding: 0.5rem;

        a {
            position: relative;
            height: 30rem;
            width: 100%;
            display: block;
            background: @orange;

            &:hover, &:focus {
                &:before, .description {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
            }

            &:before {
                background: fade(@black, 70);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                content: ' ';
                opacity: 0;
                transition: opacity 0.5s;
            }

            h3 {
                text-transform: uppercase;
                font-size: 3rem;
                line-height: 3rem;
                font-weight: 500;
                margin: 0 0 1rem 0;
            }

            time {
                margin: 0;
                display: block;
            }
        }
    }
}

@media all and (min-width: 600px) {
    .child-pages {
        li {
            display: inline-block;
            float: left;
            width: 50%;
        }
    }
}