.child-pages {
    margin: -0.5rem;
    overflow: hidden;

    li {
        padding: 0.5rem;

        a {
            .listItemAnchor;
            position: relative;
            height: 30rem;
            width: 100%;
            display: block;
            background: @orange;

            time {
                padding: 0 2rem;
                margin: 0 0 2rem 0;
                display: block;
                color: @white;
            }
        }
    }
}

@media all and (min-width: 600px) {
    .child-pages {
        li {
            display: inline-block;
            float: left;
            width: 50%;
        }
    }
}