#featured {
    overflow: hidden;
}

.featured, .page-list {
	.hasSidebar();

    h2 {
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
		overflow: hidden;
		.clear;
    }

    li {
        list-style-type: none;
        text-align: center;
        margin-top: 1rem;
        float: left;

        a {
            float: left;
            width: 100%;
        }
    }
}

.featured  {
    .negativeMargin;

        a  {
                text-align: left;

                .listItemAnchor;
            }
}

.standard-with-image  {
    a  {
        position: relative;
        height: 30rem;
        max-height: 30rem;
    }
}

