header {
	#navbar {
		position: relative;
		margin-bottom: 0;
		.clear;
		
		.navbar-header {
			float: left;
		}

		.nav-container {
			position: relative;
			z-index: 999;
		}

		#logo {
		    height: auto;
		    margin-bottom: 10px;
		    float: left;
		    padding: 2rem 0;
		}

	}
}