#banner_container {
    a.default {
		display: block;
		line-height: 10rem;
		font-size: 3rem;
		width: 100%;
	}

	#banner{
		height: 50rem;
		padding: 0;

		#slideshow  {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.bgimage {
				background-position: 50% 50%;
				background-size: cover;
			}

			.slides  {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;

				> li  {
					width: 100%;
					height: 100%;

					.flex-caption  {
						position: absolute;
						bottom: 0;
						width: 100%;
						height: auto;
						text-align: left;
						z-index: 3;
						.gradient(bottom, to top, rgba(0,0,0,0.4), 0);
						
						.container {
							padding: 1rem;
						}

						h3, p {
							color: @white;
						}

                        h3 {
                            margin: 0 0 2.5rem 0;
                        }

                        p {
                            margin: 0 0 5rem 0;
                        }

						a {
							color: @white;

							&:hover {
								color: lighten(@blue, 30%);
							}
						}
					}
				}
			}

			.flex-navigation .container {
				position: relative;

			}

			.flex-control-paging {
				position: absolute;
				bottom: 10rem;
				right: 2rem;
				padding: 0;
				z-index: 999;

				li {
					display: inline-block;
					a {
						border: 1px solid fade(@white, 30%);
						width: 2.4rem;
						height: 2.4rem;
						display: block;

						&:hover {
							border-color: @white;
						}
					}

					a.flex-active {
						background: fade(@white, 30%);
					}
				}
			}
		}
	}
}


@media all and (min-width: (@tablet_width + @scroll_bar)) {
#banner_container #banner #slideshow .flex-control-paging li a {
		width: 1.5rem;
		height: 1.5rem;
	}
}
@media all and (min-width: (@large_width + @scroll_bar)) {
#banner_container #banner {
		height: @slideshow_height+10rem;
	}
}