.standfirst {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin: 5rem 0;
    color: @dark-grey;
    max-width: 800px;

    + time {
        margin: 3rem 0 0 0;
        display: block;
        color: @dark-grey;
        font-weight: 600;
    }
}
