#topnav {
		list-style: none;
		margin: 4rem 0 0 0;
		padding: 0;
		float: right;

		.clear;

	 li {
	 	display: block;
	 	float: left;
	 	position: relative;

		a {
		    line-height: 1.6;
		    float: left;
		    height: 2.5rem;
		    text-decoration: none;
		    .button(darken(@white, 5%));

		    &:hover, &:focus {
		        color: @white;
		    }
		}

		.sub-menu {
			.box(darken(@white, 5%));
			list-style: none;
			padding:1rem 0 0;
			display: none;
			position: absolute;
			z-index: 2;
			width: 160px;
			top: 3.5rem;

		> li {
			display: block;
			float: none;
			width: 100%;

			> a {
					width: 100%;
					margin-bottom: 0;
					box-sizing: border-box;
					float: left;
					height: auto;
				}
			}
		}

		&:hover, &.sub-menu-open {
			ul {
				display: block;
			}
		}
	}
}